/* Write your CSS code here */
.cryptocurrency-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-and-title-container {
  display: flex;
  align-items: center;
}
.currency-logo {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}
@media screen and (min-width: 576px) {
  .currency-logo {
    height: 32px;
    width: 32px;
    margin-right: 16px;
  }
}

.currency-name {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}
@media screen and (min-width: 576px) {
  .currency-name {
    font-size: 16px;
  }
}

.usd-and-euro-values-container {
  display: flex;
  align-items: center;
}
.currency-value {
  text-align: center;
  color: #fff;
  width: 52px;
  font-size: 12px;
  font-weight: 500;
  margin-left: 8px;
}
@media screen and (min-width: 576px) {
  .currency-value {
    font-size: 16px;
    width: 72px;
    margin-left: 48px;
  }
}
